<?xml version="1.0" encoding="utf-8"?>
<Root>
	<aa>
		<name>sklsdjadjklfajdklfa</name>
		<account name="晨露逐梦" count="4">54</account>
		<name>215</name>
		<account name="215" count="1">2</account>
		<name>致我们终将逝去的青春</name>
		<account name="致我们终将逝去的青春" count="2">0</account>
		<name>伞</name>
		<account name="伞" count="4">0</account>
	</aa>
</Root>
